@@include("../blocks/modules/header/header.html")

<div class="main-container container">
	<div class="container-wrapper">
		<nav class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link"><span>Главная</span></a></li>
				<li class="breadcrumbs__item"><a href="projects.html" class="breadcrumbs__link"><span>Проекты IT2B</span></a></li>
			</ul>
		</nav>
		<div class="projects container">
			<a href="#" class="project">
				<img src="./img/png/project1.png" alt="" class="project__image">
				<span class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
				<button class="project__button"></button>
			</a>
			<a href="#" class="project">
				<img src="./img/png/project2.png" alt="" class="project__image">
				<span class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
				<button class="project__button"></button>
			</a>
			<a href="#" class="project">
				<img src="./img/png/project3.png" alt="" class="project__image">
				<span class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
				<button class="project__button"></button>
			</a>
			<a href="#" class="project project--soon"></a>
		</div>
	</div>
</div>

@@include("../blocks/modules/footer/footer.html")